<html>
<style>
    .emailBody {
        padding: 1em;
    }
</style>
<div class="emailBody">
    <p>Hello,</p>
    <br>
    <p>This email is an invitation for {{ name }} to join HGM Platform.</p>

    <p>If you are aware of this, please
        {#<a href="http://77.81.165.2:8180/#confirmRegister?{{ appendToUrl }}">#}
            {#click here#}
        {#</a>#}
        <a href="http://77.81.165.2:8180/#?{{ appendToUrl }}">
            click here
        </a>
    to confirm your email and set a password for the account, else please report this incident.</p>
    <br>
    <p>Best regards,</p>
    <p>HGM Team</p>
</div>
</html>
